@import '../../core/variables.scss';

.game-hud .component-server {
	// Positioning
	position: absolute;
	top: 15px;
	left: 15px;

	// Small resolutions respponsiveness..

	@media (max-width: 1300px) {
		// Transform
		transform: scale(0.7);
	}

	@media (max-width: 1600px) {
		// Transform
		transform: scale(0.8);

		transform-origin: top left;
	}

	display: flex;
	flex-direction: row;
	align-items: center;

	.header {
		display: flex;
		flex-direction: row;
		align-items: center;

		.logo {
			height: 60px;
			width: 60px;
			background-image: url('/assets/images/hud/serverLogo/emblem.png');
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			content: ' ';
			position: relative;

			margin-right: 8px;
		}

		.texts {
			text-shadow: $chat_text_shadow;

			.line1 {
				font-size: 24px;
				line-height: 1;
				font-family: 'Chalet Comprime - Cologne Eigthy';
			}

			.line2 {
				font-size: 22px;
				line-height: 1;
				font-family: 'Chalet Comprime - Cologne Eigthy';
				color: $color_primary;
			}
		}
	}

	.information {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		background-color: rgba(#000, 0.35);
		border-radius: 16px;

		border: solid 1px rgba(#fff, 0.25);

		box-shadow: rgba(#000, 0.5) 0px 0px 2px 1px;

		margin-left: 8px;
		padding: 4px 12px;
		min-width: 70px;

		.entry {
			display: flex;
			flex-direction: row;
			align-items: center;
			text-shadow: $chat_text_shadow;
			margin-right: 8px;

			&:last-of-type {
				margin-right: 0px;
			}

			.icon {
				color: $color_primary;
				margin-right: 3px;

				.elm {
					font-size: 14px;
					line-height: 1;
				}

				&.text {
					font-family: 'Chalet Comprime - Cologne Eigthy';
					font-size: 18px;
					line-height: 1;
				}
			}

			.value {
				font-family: 'Chalet Comprime - Cologne Eigthy';
				font-size: 18px;
				line-height: 0.8;
			}
		}
	}

	&.dark-mode {
		.information {
			background-color: rgba(#181818, 0.65);
			border: solid 1px rgba(#fff, 0.16);
			box-shadow: rgba(#000, 0.7) 0px 0px 2px 1px;
		}
	}
}
