# Server
PORT={NUMBER}
ENVIRONMENT={Ex: local, staging, production}

# Session
SESSION_SECRET={STRING}
SESSION_KEYS={Ex: key0,key1}

# Logz
LOGZ_HOST={Domain}
LOGZ_KEY={String}

# Database
MYSQL_DATABASE_NAME={String}
MYSQL_DATABASE_HOST={String}
MYSQL_DATABASE_PASSWORD={String}
MYSQL_DATABASE_PORT={Number}
MYSQL_DATABASE_USER={String}
SEQUELIZE_LOGS={Boolean}

# Cors
CORS_ORIGIN={String}

# Email
SENDGRID_API_KEY={String}

# Cache
MEMCACHE_SERVER={String}
MEMCACHE_PORT=11211
MEMCACHE_USERNAME={String}
MEMCACHE_PASSWORD={String}
MEMCACHE_DISABLED={Boolean}