# Environment
REACT_APP_ENVIRONMENT=local

# Amplitude 
REACT_APP_AMPLITUDE_KEY={key}

# Logging the errors
REACT_APP_LOGZ_HOST=listener-eu.logz.io
REACT_APP_LOGZ_KEY={key}

# Where to get the image assets from?
REACT_APP_ASSETS_PATH=localhost

# Language used only when developing on localhost.
REACT_APP_DEV_LANGUAGE=RO

# Username to display on errors whenever developing on localhost
REACT_APP_DEV_USERNAME=Vatto

# Panel
REACT_APP_PANEL_API=http://192.168.0.70:5000

# Vespify
REACT_APP_VESPIFY_API=http://192.168.0.70:5025
REACT_APP_VESPIFY_KEY={STRING}
