@import '../core/variables.scss';

.phone-mockup .screen-content .app-component-data-list {
	padding: 12px 12px;
	width: 100%;

	&.light {
		.content {
			background-color: $element_bg_light;
			color: $color_text_light;
			box-shadow: $ios_light_card_shadow;
		}

		.entry {
			border-bottom: solid 1px $border_color_light;
		}
	}

	&.dark {
		.content {
			background-color: $background_elevated_dark;
			color: $color_text_dark;
			box-shadow: $ios_dark_card_shadow;
		}

		.entry {
			border-bottom: solid 1px $border_color_dark;
		}
	}

	.content {
		width: 100%;
		border-radius: 8px;
	}

	.entry {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 13px 13px;
		min-height: 41px;

		&:last-of-type {
			border-bottom: none;
		}

		&.hasSelection {
			cursor: pointer;
		}

		&.loading {
			pointer-events: none;
			.label {
				opacity: 0.6;
			}
			.elm {
				opacity: 0.5;
			}
		}

		.icon {
			margin-right: 10px;
			width: 28px;
			height: 28px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 5px;
			.elm-fa {
				font-size: 13px;
				line-height: 13px;
			}

			&.dark.default {
				background-color: #929196;

				.elm-fa {
					color: ffffff;
				}
			}
		}

		.label {
			flex: 1;
			font-weight: 400;
			font-size: 13px;
			line-height: 13px;
		}

		.value {
			font-size: 13px;
			line-height: 13px;
			font-weight: 500;
			color: $color_value_input;
		}

		.arrow-right {
			.elm {
				font-size: 12px;
				line-height: 12px;
			}
		}

		&.with-icons {
			padding: 7px 13px;
			cursor: pointer;
			* {
				pointer-events: none;
			}
		}
	}
}
