@import '../core/variables.scss';

.system-kick-screen {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	position: relative;
	background-color: #151825be;
	height: 100vh;
	width: 100vw;

	.background {
		transition: opacity 0.4s ease-in;
		object-position: center center;
		background-repeat: no-repeat;
		object-fit: cover;
		position: fixed;
		height: 100vh;
		width: 100%;
		z-index: -1;
		opacity: 0;
		left: 0;

		&.loaded {
			opacity: 1;
		}
	}

	.content {
		background: $system_bg_color;
		z-index: 2;
		border-radius: 8px;
		min-height: 400px;
		width: 800px;
		font-size: 16px;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 50px;
		box-shadow: rgba(#000, 0.4) 0px 0px 40px -5px;
		animation: bounceIn;
		animation-duration: 0.8s;

		.heading {
			font-size: 24px;
			font-weight: 800;
			line-height: 28px;
			margin-bottom: 16px;
			color: $color_primary;
		}
		.message {
			font-size: 16px;
			line-height: 26px;
			width: 100%;
		}
		.spacer {
			margin-top: 12px;
			content: ' ';
			display: block;
			height: 1px;
		}

		.kick-countdown {
			border-top: solid 1px rgba(#fff, 0.05);
			width: 100%;
			margin-top: 26px;
			padding-top: 26px;
			font-size: 16px;
			font-weight: 800;
		}
	}
}
