# GENERAL
NEXT_PUBLIC_ENVIRONMENT={local,staging,production}
NEXT_PUBLIC_ASSETS_PATH={domain}
NEXT_PUBLIC_PANEL_API={domain}

# LOGZ
NEXT_PUBLIC_LOGZ_HOST=listener-eu.logz.io
NEXT_PUBLIC_LOGZ_KEY={key}

# AMPLITUDE
NEXT_PUBLIC_AMPLITUDE_GUESTS={key}
NEXT_PUBLIC_AMPLITUDE_USERS={key}
