ENVIRONMENT=local # local/production
SKIP_PRODUCTION_CONFIG=false

MYSQL_DATABASE_HOST=localhost
MYSQL_DATABASE_PORT=3306
MYSQL_DATABASE_USER=root
MYSQL_DATABASE_PASSWORD=
MYSQL_DATABASE_NAME=vespuccidb

SEQUELIZE_LOGS=false
AMPLITUDE_KEY={key}
WHITELIST=false

LOGZ_HOST=listener-eu.logz.io
LOGZ_KEY={key}

CEF_DOMAIN={string}

# SOCKET.io
SOCKET_IO_PORT={PORT}
SOCKET_IO_ADDRESS=HTTP://{IP}:{PORT}
SOCKET_IO_SECRET_ACCESS_TOKEN={STRING}